@{
    ViewData["Title"] = "Home Page";
}

<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
      
    </div>
    <!--end::Container-->
</div>